In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {
    "name": ['harry', 'rohan', 'skillf', 'subh'],
    'marks': [97, 34, 24, 17],
    "city":['rampur', 'kolkata', 'barelly', 'antartica']
}

In [3]:
df = pd.DataFrame(dict)
print(df)

     name  marks       city
0   harry     97     rampur
1   rohan     34    kolkata
2  skillf     24    barelly
3    subh     17  antartica

In [4]:
df.to_csv('friends.csv', index=False)

In [5]:
df.index=['first','second','third','fourth']
print(df)

          name  marks       city
first    harry     97     rampur
second   rohan     34    kolkata
third   skillf     24    barelly
fourth    subh     17  antartica

In [6]:
df.head(2)

         name  marks     city
first   harry     97   rampur
second  rohan     34  kolkata

In [7]:
df.tail(2)

          name  marks       city
third   skillf     24    barelly
fourth    subh     17  antartica

In [8]:
df.describe()

           marks
count   4.000000
mean   43.000000
std    36.669697
min    17.000000
25%    22.250000
50%    29.000000
75%    49.750000
max    97.000000

In [9]:
jatin = pd.read_csv('sec_bhavdata_full.csv')
print(jatin)

          SYMBOL  SERIES         DATE1  PREV_CLOSE   OPEN_PRICE   HIGH_PRICE  \
0      20MICRONS      EQ   09-Oct-2020       27.95        27.95        28.35
1     21STCENMGM      EQ   09-Oct-2020       10.10        10.30        10.30
2     3IINFOTECH      EQ   09-Oct-2020        3.35         3.35         3.40
3        3MINDIA      EQ   09-Oct-2020    18896.70     18988.00     19549.95
4         5PAISA      BE   09-Oct-2020      351.20       368.75       368.75
...          ...     ...           ...         ...          ...          ...
1980   ZODJRDMKJ      EQ   09-Oct-2020       24.15        24.15        25.30
1981        ZOTA      EQ   09-Oct-2020      145.75       145.95       147.90
1982       ZUARI      EQ   09-Oct-2020       82.70        83.20        83.25
1983   ZUARIGLOB      EQ   09-Oct-2020       50.30        50.70        51.00
1984   ZYDUSWELL      EQ   09-Oct-2020     1787.25      1808.00      1852.00

       LOW_PRICE  LAST_PRICE   CLOSE_PRICE   AVG_PRICE   TTL_TRD_QNTY  \
0          27.30        27.5         27.60       27.66          23126
1           9.90       10.15         10.15       10.21           1258
2           3.20        3.25          3.25        3.29        2319853
3       18708.00       19510      19491.40    19255.64           3258
4         361.20       365.1        367.80      368.18          19782
...          ...         ...           ...         ...            ...
1980       23.65        25.2         25.20       24.19            455
1981      145.30       146.3        146.10      145.78           1125
1982       81.80        81.8         82.15       82.62           2059
1983       48.20          50         49.45       49.91           6587
1984     1776.30        1840       1801.75     1793.82          33699

       TURNOVER_LACS   NO_OF_TRADES  DELIV_QTY  DELIV_PER
0               6.40            471      15111      65.34
1               0.13             11       1123      89.27
2              76.25           1689    1643353      70.84
3             627.35           1818       1809      55.52
4              72.83            526          -          -
...              ...            ...        ...        ...
1980            0.11              7        351      77.14
1981            1.64             71        900         80
1982            1.70             95       1336      64.89
1983            3.29            186       3801       57.7
1984          604.50           3459      23504      69.75

[1985 rows x 15 columns]

In [10]:
jatin['PREV_CLOSE'][0]=27.93

<ipython-input-10-5081838aa4eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jatin['PREV_CLOSE'][0]=27.93

In [11]:
print(jatin)

          SYMBOL  SERIES         DATE1  PREV_CLOSE   OPEN_PRICE   HIGH_PRICE  \
0      20MICRONS      EQ   09-Oct-2020       27.93        27.95        28.35
1     21STCENMGM      EQ   09-Oct-2020       10.10        10.30        10.30
2     3IINFOTECH      EQ   09-Oct-2020        3.35         3.35         3.40
3        3MINDIA      EQ   09-Oct-2020    18896.70     18988.00     19549.95
4         5PAISA      BE   09-Oct-2020      351.20       368.75       368.75
...          ...     ...           ...         ...          ...          ...
1980   ZODJRDMKJ      EQ   09-Oct-2020       24.15        24.15        25.30
1981        ZOTA      EQ   09-Oct-2020      145.75       145.95       147.90
1982       ZUARI      EQ   09-Oct-2020       82.70        83.20        83.25
1983   ZUARIGLOB      EQ   09-Oct-2020       50.30        50.70        51.00
1984   ZYDUSWELL      EQ   09-Oct-2020     1787.25      1808.00      1852.00

       LOW_PRICE  LAST_PRICE   CLOSE_PRICE   AVG_PRICE   TTL_TRD_QNTY  \
0          27.30        27.5         27.60       27.66          23126
1           9.90       10.15         10.15       10.21           1258
2           3.20        3.25          3.25        3.29        2319853
3       18708.00       19510      19491.40    19255.64           3258
4         361.20       365.1        367.80      368.18          19782
...          ...         ...           ...         ...            ...
1980       23.65        25.2         25.20       24.19            455
1981      145.30       146.3        146.10      145.78           1125
1982       81.80        81.8         82.15       82.62           2059
1983       48.20          50         49.45       49.91           6587
1984     1776.30        1840       1801.75     1793.82          33699

       TURNOVER_LACS   NO_OF_TRADES  DELIV_QTY  DELIV_PER
0               6.40            471      15111      65.34
1               0.13             11       1123      89.27
2              76.25           1689    1643353      70.84
3             627.35           1818       1809      55.52
4              72.83            526          -          -
...              ...            ...        ...        ...
1980            0.11              7        351      77.14
1981            1.64             71        900         80
1982            1.70             95       1336      64.89
1983            3.29            186       3801       57.7
1984          604.50           3459      23504      69.75

[1985 rows x 15 columns]

In [12]:
import numpy as np
ser = pd.Series(np.random.rand(34))
print(ser)

0     0.463253
1     0.137787
2     0.980236
3     0.589308
4     0.848938
5     0.256695
6     0.161927
7     0.954392
8     0.095392
9     0.961142
10    0.485426
11    0.329448
12    0.392229
13    0.400081
14    0.069080
15    0.246369
16    0.469416
17    0.024935
18    0.692351
19    0.619089
20    0.676011
21    0.167010
22    0.604848
23    0.032051
24    0.746629
25    0.295198
26    0.117823
27    0.849413
28    0.638959
29    0.826551
30    0.123973
31    0.721723
32    0.876209
33    0.910172
dtype: float64

In [13]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))
print(newdf)

            0         1         2         3         4
0    0.493965  0.909694  0.963161  0.055991  0.950221
1    0.822177  0.221277  0.906135  0.240948  0.080853
2    0.111676  0.844881  0.142780  0.214233  0.488915
3    0.151119  0.389242  0.479466  0.766349  0.850943
4    0.801639  0.114854  0.310851  0.844906  0.096287
..        ...       ...       ...       ...       ...
329  0.678203  0.812539  0.228883  0.600743  0.852882
330  0.128338  0.790540  0.756622  0.419856  0.385338
331  0.025250  0.711926  0.966168  0.887784  0.307426
332  0.696784  0.972282  0.240531  0.376171  0.081786
333  0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [14]:
print(newdf.describe())

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.519526    0.501647    0.488800    0.506567    0.458930
std      0.279774    0.287784    0.286602    0.289067    0.286285
min      0.007243    0.006667    0.001876    0.001462    0.004725
25%      0.278416    0.244040    0.241737    0.248522    0.220272
50%      0.524349    0.523510    0.482170    0.503092    0.416118
75%      0.764007    0.738794    0.708936    0.764694    0.686142
max      0.993976    0.997710    0.996256    0.998151    0.999330

In [15]:
newdf[0][0]='harry'
print(newdf)

             0         1         2         3         4
0        harry  0.909694  0.963161  0.055991  0.950221
1     0.822177  0.221277  0.906135  0.240948  0.080853
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [16]:
newdf.to_numpy()

array([['harry', 0.9096938772962744, 0.963160693892158,
        0.05599098035896344, 0.9502209056754788],
       [0.8221769117562461, 0.22127718572307264, 0.9061348511176329,
        0.24094767708278086, 0.08085326959568206],
       [0.1116764016116053, 0.8448808861539829, 0.14278042695926774,
        0.21423266026337107, 0.48891506204399837],
       ...,
       [0.0252503557102004, 0.7119258915276748, 0.9661682814000073,
        0.8877843716575203, 0.30742557079839805],
       [0.6967836742113712, 0.9722816795113851, 0.24053093565183858,
        0.37617089524280156, 0.08178589439489026],
       [0.5325583037747791, 0.39185720663712065, 0.2626274650948923,
        0.3235359629186546, 0.42674236232350005]], dtype=object)

In [17]:
print(newdf.T)

        0          1         2         3          4         5         6    \
0     harry   0.822177  0.111676  0.151119   0.801639  0.774576  0.797702
1  0.909694   0.221277  0.844881  0.389242   0.114854  0.239573  0.783423
2  0.963161   0.906135   0.14278  0.479466   0.310851  0.391789  0.882074
3  0.055991   0.240948  0.214233  0.766349   0.844906  0.998151  0.759066
4  0.950221  0.0808533  0.488915  0.850943  0.0962868  0.416975  0.927616

        7         8         9    ...       324        325       326       327  \
0    0.2215  0.457045  0.694491  ...  0.827648   0.975108  0.893078  0.955454
1  0.613614  0.297604  0.652119  ...   0.35702   0.606338  0.410653  0.828603
2  0.381419  0.482216  0.640436  ...  0.950012   0.494599  0.138985  0.327108
3  0.885533  0.571336  0.508797  ...  0.186639  0.0709786  0.846167  0.399198
4  0.208892  0.196221  0.327504  ...  0.477025    0.98748  0.932088  0.413022

        328       329       330        331        332       333
0  0.449018  0.678203  0.128338  0.0252504   0.696784  0.532558
1  0.799045  0.812539   0.79054   0.711926   0.972282  0.391857
2  0.493079  0.228883  0.756622   0.966168   0.240531  0.262627
3  0.101141  0.600743  0.419856   0.887784   0.376171  0.323536
4  0.847594  0.852882  0.385338   0.307426  0.0817859  0.426742

[5 rows x 334 columns]

In [18]:
newdf.sort_index(axis=0,ascending=False)

             0         1         2         3         4
333   0.532558  0.391857  0.262627  0.323536  0.426742
332   0.696784  0.972282  0.240531  0.376171  0.081786
331  0.0252504  0.711926  0.966168  0.887784  0.307426
330   0.128338  0.790540  0.756622  0.419856  0.385338
329   0.678203  0.812539  0.228883  0.600743  0.852882
..         ...       ...       ...       ...       ...
4     0.801639  0.114854  0.310851  0.844906  0.096287
3     0.151119  0.389242  0.479466  0.766349  0.850943
2     0.111676  0.844881  0.142780  0.214233  0.488915
1     0.822177  0.221277  0.906135  0.240948  0.080853
0        harry  0.909694  0.963161  0.055991  0.950221

[334 rows x 5 columns]

In [19]:
print(newdf[0])

0          harry
1       0.822177
2       0.111676
3       0.151119
4       0.801639
         ...
329     0.678203
330     0.128338
331    0.0252504
332     0.696784
333     0.532558
Name: 0, Length: 334, dtype: object

In [20]:
newdf2=newdf.copy()
newdf2[0][1]=356

<ipython-input-20-fdf8374e2961>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[0][1]=356

In [21]:
print(newdf)

             0         1         2         3         4
0        harry  0.909694  0.963161  0.055991  0.950221
1     0.822177  0.221277  0.906135  0.240948  0.080853
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [24]:
newdf.loc[0,0]=545
print(newdf)

             0         1         2         3         4
0          545  0.909694  0.963161  0.055991  0.950221
1     0.822177  0.221277  0.906135  0.240948  0.080853
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [25]:
newdf.columns=list("ABCDE")
print(newdf)

             A         B         C         D         E
0          545  0.909694  0.963161  0.055991  0.950221
1     0.822177  0.221277  0.906135  0.240948  0.080853
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [26]:
newdf.loc[0,'A']=78967
print(newdf)

             A         B         C         D         E
0        78967  0.909694  0.963161  0.055991  0.950221
1     0.822177  0.221277  0.906135  0.240948  0.080853
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [27]:
newdf.loc[0,0]=675

In [28]:
print(newdf)

             A         B         C         D         E      0
0        78967  0.909694  0.963161  0.055991  0.950221  675.0
1     0.822177  0.221277  0.906135  0.240948  0.080853    NaN
2     0.111676  0.844881  0.142780  0.214233  0.488915    NaN
3     0.151119  0.389242  0.479466  0.766349  0.850943    NaN
4     0.801639  0.114854  0.310851  0.844906  0.096287    NaN
..         ...       ...       ...       ...       ...    ...
329   0.678203  0.812539  0.228883  0.600743  0.852882    NaN
330   0.128338  0.790540  0.756622  0.419856  0.385338    NaN
331  0.0252504  0.711926  0.966168  0.887784  0.307426    NaN
332   0.696784  0.972282  0.240531  0.376171  0.081786    NaN
333   0.532558  0.391857  0.262627  0.323536  0.426742    NaN

[334 rows x 6 columns]

In [29]:
newdf=newdf.drop(0, axis=1)
print(newdf)

             A         B         C         D         E
0        78967  0.909694  0.963161  0.055991  0.950221
1     0.822177  0.221277  0.906135  0.240948  0.080853
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [30]:
newdf.loc[[1,2],['C','D']]

          C         D
1  0.906135  0.240948
2  0.142780  0.214233

In [31]:
newdf.loc[:,['C','D']]

            C         D
0    0.963161  0.055991
1    0.906135  0.240948
2    0.142780  0.214233
3    0.479466  0.766349
4    0.310851  0.844906
..        ...       ...
329  0.228883  0.600743
330  0.756622  0.419856
331  0.966168  0.887784
332  0.240531  0.376171
333  0.262627  0.323536

[334 rows x 2 columns]

In [32]:
newdf.loc[(newdf['A']<0.3)]

             A         B         C         D         E
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
7       0.2215  0.613614  0.381419  0.885533  0.208892
13   0.0527599  0.100058  0.061683  0.205281  0.650176
16    0.252405  0.537244  0.931695  0.032936  0.040841
..         ...       ...       ...       ...       ...
313   0.213597  0.774154  0.213876  0.605565  0.766489
322   0.273835  0.343337  0.664693  0.914248  0.961460
323   0.283754  0.848643  0.037383  0.275845  0.584922
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426

[93 rows x 5 columns]

In [35]:
print(newdf)

             A         B         C         D         E
0        78967  0.909694  0.963161  0.055991  0.950221
1     0.822177  0.221277  0.906135  0.240948  0.080853
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[334 rows x 5 columns]

In [34]:
print(newdf.iloc[0,4])

0.9502209056754788

In [36]:
print(newdf.iloc[[0,5],[1,2]])

          B         C
0  0.909694  0.963161
5  0.239573  0.391789

In [37]:
newdf.drop([1,5],axis=0,inplace=True)

In [38]:
newdf

             A         B         C         D         E
0        78967  0.909694  0.963161  0.055991  0.950221
2     0.111676  0.844881  0.142780  0.214233  0.488915
3     0.151119  0.389242  0.479466  0.766349  0.850943
4     0.801639  0.114854  0.310851  0.844906  0.096287
6     0.797702  0.783423  0.882074  0.759066  0.927616
..         ...       ...       ...       ...       ...
329   0.678203  0.812539  0.228883  0.600743  0.852882
330   0.128338  0.790540  0.756622  0.419856  0.385338
331  0.0252504  0.711926  0.966168  0.887784  0.307426
332   0.696784  0.972282  0.240531  0.376171  0.081786
333   0.532558  0.391857  0.262627  0.323536  0.426742

[332 rows x 5 columns]

In [41]:
newdf.reset_index(drop=True)

             A         B         C         D         E
0        78967  0.909694  0.963161  0.055991  0.950221
1     0.111676  0.844881  0.142780  0.214233  0.488915
2     0.151119  0.389242  0.479466  0.766349  0.850943
3     0.801639  0.114854  0.310851  0.844906  0.096287
4     0.797702  0.783423  0.882074  0.759066  0.927616
..         ...       ...       ...       ...       ...
327   0.678203  0.812539  0.228883  0.600743  0.852882
328   0.128338  0.790540  0.756622  0.419856  0.385338
329  0.0252504  0.711926  0.966168  0.887784  0.307426
330   0.696784  0.972282  0.240531  0.376171  0.081786
331   0.532558  0.391857  0.262627  0.323536  0.426742

[332 rows x 5 columns]

In [42]:
newdf['B'].isnull()

0      False
2      False
3      False
4      False
6      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 332, dtype: bool

In [43]:
newdf.loc[:,['B']]=None

In [44]:
newdf

             A     B         C         D         E
0        78967  None  0.963161  0.055991  0.950221
2     0.111676  None  0.142780  0.214233  0.488915
3     0.151119  None  0.479466  0.766349  0.850943
4     0.801639  None  0.310851  0.844906  0.096287
6     0.797702  None  0.882074  0.759066  0.927616
..         ...   ...       ...       ...       ...
329   0.678203  None  0.228883  0.600743  0.852882
330   0.128338  None  0.756622  0.419856  0.385338
331  0.0252504  None  0.966168  0.887784  0.307426
332   0.696784  None  0.240531  0.376171  0.081786
333   0.532558  None  0.262627  0.323536  0.426742

[332 rows x 5 columns]