In [1]:
import pyspark

In [2]:
import pandas as pd
df = pd.read_excel("Test1.xlsx")
df

    Name  Age
0  Jatin   22
1  saini   22

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [5]:
spark

In [9]:
df_pyspark=spark.read.csv('D:/datasets_CSV/heart.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [10]:
df_pyspark.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|_c0|_c1|          _c2|      _c3|        _c4|      _c5|       _c6|  _c7|           _c8|    _c9|    _c10|        _c11|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|      0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|      1|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|      0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|      0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|      0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|      0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|      0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|      0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|      0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|      2|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|      0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|      1|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|      0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|      0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|      0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|      1|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [11]:
df_pyspark=spark.read.option('header', "true").csv('D:/datasets_CSV/heart.csv')
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head()

Row(Age='40', Sex='M', ChestPainType='ATA', RestingBP='140', Cholesterol='289', FastingBS='0', RestingECG='Normal', MaxHR='172', ExerciseAngina='N', Oldpeak='0', ST_Slope='Up', HeartDisease='0')

In [13]:
df_pyspark.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- ChestPainType: string (nullable = true)
 |-- RestingBP: string (nullable = true)
 |-- Cholesterol: string (nullable = true)
 |-- FastingBS: string (nullable = true)
 |-- RestingECG: string (nullable = true)
 |-- MaxHR: string (nullable = true)
 |-- ExerciseAngina: string (nullable = true)
 |-- Oldpeak: string (nullable = true)
 |-- ST_Slope: string (nullable = true)
 |-- HeartDisease: string (nullable = true)

In [14]:
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [17]:
spark

In [22]:
df_pyspark=spark.read.option('header', 'true').csv("D:/datasets_CSV/heart.csv", inferSchema=True)

In [23]:
df_pyspark.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [24]:
df_pyspark.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- ChestPainType: string (nullable = true)
 |-- RestingBP: integer (nullable = true)
 |-- Cholesterol: integer (nullable = true)
 |-- FastingBS: integer (nullable = true)
 |-- RestingECG: string (nullable = true)
 |-- MaxHR: integer (nullable = true)
 |-- ExerciseAngina: string (nullable = true)
 |-- Oldpeak: double (nullable = true)
 |-- ST_Slope: string (nullable = true)
 |-- HeartDisease: integer (nullable = true)

In [25]:
df_pyspark=spark.read.csv('D:/datasets_CSv/heart.csv', header=True, inferSchema=True)
df_pyspark.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [26]:
df_pyspark.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- ChestPainType: string (nullable = true)
 |-- RestingBP: integer (nullable = true)
 |-- Cholesterol: integer (nullable = true)
 |-- FastingBS: integer (nullable = true)
 |-- RestingECG: string (nullable = true)
 |-- MaxHR: integer (nullable = true)
 |-- ExerciseAngina: string (nullable = true)
 |-- Oldpeak: double (nullable = true)
 |-- ST_Slope: string (nullable = true)
 |-- HeartDisease: integer (nullable = true)

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark.columns

['Age',
 'Sex',
 'ChestPainType',
 'RestingBP',
 'Cholesterol',
 'FastingBS',
 'RestingECG',
 'MaxHR',
 'ExerciseAngina',
 'Oldpeak',
 'ST_Slope',
 'HeartDisease']

In [31]:
df_pyspark.head(3)

[Row(Age=40, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=289, FastingBS=0, RestingECG='Normal', MaxHR=172, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=49, Sex='F', ChestPainType='NAP', RestingBP=160, Cholesterol=180, FastingBS=0, RestingECG='Normal', MaxHR=156, ExerciseAngina='N', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=37, Sex='M', ChestPainType='ATA', RestingBP=130, Cholesterol=283, FastingBS=0, RestingECG='ST', MaxHR=98, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0)]

In [33]:
df_pyspark.select(['Age', 'Sex']).show()

+---+---+
|Age|Sex|
+---+---+
| 40|  M|
| 49|  F|
| 37|  M|
| 48|  F|
| 54|  M|
| 39|  M|
| 45|  F|
| 54|  M|
| 37|  M|
| 48|  F|
| 37|  F|
| 58|  M|
| 39|  M|
| 49|  M|
| 42|  F|
| 54|  F|
| 38|  M|
| 43|  F|
| 60|  M|
| 36|  M|
+---+---+
only showing top 20 rows

In [34]:
df_pyspark.dtypes

[('Age', 'int'),
 ('Sex', 'string'),
 ('ChestPainType', 'string'),
 ('RestingBP', 'int'),
 ('Cholesterol', 'int'),
 ('FastingBS', 'int'),
 ('RestingECG', 'string'),
 ('MaxHR', 'int'),
 ('ExerciseAngina', 'string'),
 ('Oldpeak', 'double'),
 ('ST_Slope', 'string'),
 ('HeartDisease', 'int')]

In [35]:
df_pyspark.describe().show()

+-------+------------------+----+-------------+------------------+------------------+-------------------+----------+------------------+--------------+------------------+--------+-------------------+
|summary|               Age| Sex|ChestPainType|         RestingBP|       Cholesterol|          FastingBS|RestingECG|             MaxHR|ExerciseAngina|           Oldpeak|ST_Slope|       HeartDisease|
+-------+------------------+----+-------------+------------------+------------------+-------------------+----------+------------------+--------------+------------------+--------+-------------------+
|  count|               918| 918|          918|               918|               918|                918|       918|               918|           918|               918|     918|                918|
|   mean|53.510893246187365|null|         null|132.39651416122004| 198.7995642701525|0.23311546840958605|      null|136.80936819172112|          null|0.8873638344226581|    null| 0.5533769063180828|
| stddev|  9.43261650673202|null|         null|18.514154119907808|109.38414455220345|0.42304562473930296|      null| 25.46033413825029|          null|1.0665701510493264|    null|0.49741373828459706|
|    min|                28|   F|          ASY|                 0|                 0|                  0|       LVH|                60|             N|              -2.6|    Down|                  0|
|    max|                77|   M|           TA|               200|               603|                  1|        ST|               202|             Y|               6.2|      Up|                  1|
+-------+------------------+----+-------------+------------------+------------------+-------------------+----------+------------------+--------------+------------------+--------+-------------------+

In [37]:
df_pyspark = df_pyspark.withColumn('Age After 2 Years', df_pyspark["Age"] + 2)

In [38]:
df_pyspark.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+-----------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|Age After 2 Years|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+-----------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|               42|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|               51|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|               39|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|               50|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|               56|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|               41|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|               47|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|               56|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|               39|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|               50|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|               39|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|               60|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|               41|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|               51|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|               44|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|               56|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|               40|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|               45|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|               62|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|               38|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+-----------------+
only showing top 20 rows

In [39]:
df_pyspark = df_pyspark.drop('Age After 2 Years')
df_pyspark.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [40]:
df_pyspark.withColumnRenamed('Age', 'New Age').show()

+-------+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|New Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+-------+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|     40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
|     49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
|     37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
|     48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
|     54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
|     39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
|     45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
|     54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
|     37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
|     48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
|     37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
|     58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
|     39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
|     49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
|     42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
|     54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
|     38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
|     43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
|     60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
|     36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+-------+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [41]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [45]:
df = spark.read.csv("D:/datasets_CSV/homeclassification.csv", header=True, inferSchema=True)

In [46]:
df.show()

+----+--------+----+------+
|area|bedrooms| age| price|
+----+--------+----+------+
|2600|       3|  20|550000|
|3000|       4|null|565000|
|3200|       3|  18|610000|
|3600|    null|  30|595000|
|null|       5|null|760000|
+----+--------+----+------+

In [47]:
df.drop('area').show()

+--------+----+------+
|bedrooms| age| price|
+--------+----+------+
|       3|  20|550000|
|       4|null|565000|
|       3|  18|610000|
|    null|  30|595000|
|       5|null|760000|
+--------+----+------+

In [48]:
df.show()

+----+--------+----+------+
|area|bedrooms| age| price|
+----+--------+----+------+
|2600|       3|  20|550000|
|3000|       4|null|565000|
|3200|       3|  18|610000|
|3600|    null|  30|595000|
|null|       5|null|760000|
+----+--------+----+------+

In [49]:
df.na.drop().show()

+----+--------+---+------+
|area|bedrooms|age| price|
+----+--------+---+------+
|2600|       3| 20|550000|
|3200|       3| 18|610000|
+----+--------+---+------+

In [50]:
df.na.drop(how="all").show()

+----+--------+----+------+
|area|bedrooms| age| price|
+----+--------+----+------+
|2600|       3|  20|550000|
|3000|       4|null|565000|
|3200|       3|  18|610000|
|3600|    null|  30|595000|
|null|       5|null|760000|
+----+--------+----+------+

In [51]:
df.na.drop(how="any").show()

+----+--------+---+------+
|area|bedrooms|age| price|
+----+--------+---+------+
|2600|       3| 20|550000|
|3200|       3| 18|610000|
+----+--------+---+------+

In [55]:
df.na.drop(how="any", thresh=3).show()

+----+--------+----+------+
|area|bedrooms| age| price|
+----+--------+----+------+
|2600|       3|  20|550000|
|3000|       4|null|565000|
|3200|       3|  18|610000|
|3600|    null|  30|595000|
+----+--------+----+------+

In [56]:
df.na.drop(how="any", subset=["area"]).show()

+----+--------+----+------+
|area|bedrooms| age| price|
+----+--------+----+------+
|2600|       3|  20|550000|
|3000|       4|null|565000|
|3200|       3|  18|610000|
|3600|    null|  30|595000|
+----+--------+----+------+

In [69]:
df.na.fill("Missing value", ["area", "age"]).show()

+----+--------+----+------+
|area|bedrooms| age| price|
+----+--------+----+------+
|2600|       3|  20|550000|
|3000|       4|null|565000|
|3200|       3|  18|610000|
|3600|    null|  30|595000|
|null|       5|null|760000|
+----+--------+----+------+

In [70]:
df.show()

+----+--------+----+------+
|area|bedrooms| age| price|
+----+--------+----+------+
|2600|       3|  20|550000|
|3000|       4|null|565000|
|3200|       3|  18|610000|
|3600|    null|  30|595000|
|null|       5|null|760000|
+----+--------+----+------+

In [71]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=["age", "area", "bedrooms"],
    outputCols=["{}_imputed".format(c) for c in ["age", "area", "bedrooms"]]
).setStrategy("mean")

In [72]:
imputer.fit(df).transform(df).show()

+----+--------+----+------+-----------+------------+----------------+
|area|bedrooms| age| price|age_imputed|area_imputed|bedrooms_imputed|
+----+--------+----+------+-----------+------------+----------------+
|2600|       3|  20|550000|         20|        2600|               3|
|3000|       4|null|565000|         22|        3000|               4|
|3200|       3|  18|610000|         18|        3200|               3|
|3600|    null|  30|595000|         30|        3600|               3|
|null|       5|null|760000|         22|        3100|               5|
+----+--------+----+------+-----------+------------+----------------+

In [73]:
from pyspark.sql import SparkSession

In [74]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

In [75]:
df_pyspark = spark.read.csv("D:/datasets_CSV/heart.csv", header=True, inferSchema=True)

In [76]:
df_pyspark.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [77]:
df_pyspark.filter("RestingBP<=120").show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
| 43|  F|           TA|      100|        223|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 44|  M|          ATA|      120|        184|        0|    Normal|  142|             N|    1.0|    Flat|           0|
| 52|  M|          ATA|      120|        284|        0|    Normal|  118|             N|    0.0|      Up|           0|
| 53|  F|          ATA|      113|        468|        0|    Normal|  127|             N|    0.0|      Up|           0|
| 41|  F|          ATA|      110|        250|        0|        ST|  142|             N|    0.0|      Up|           0|
| 48|  F|          ATA|      120|        177|        1|        ST|  148|             N|    0.0|      Up|           0|
| 43|  M|          ASY|      120|        175|        0|    Normal|  120|             Y|    1.0|    Flat|           1|
| 37|  M|          ASY|      120|        223|        0|    Normal|  168|             N|    0.0|      Up|           0|
| 36|  M|          NAP|      112|        340|        0|    Normal|  184|             N|    1.0|    Flat|           0|
| 41|  M|          ASY|      110|        289|        0|    Normal|  170|             N|    0.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [78]:
df_pyspark.filter("RestingBP<=120").select(["Age", "Sex"]).show()

+---+---+
|Age|Sex|
+---+---+
| 39|  M|
| 54|  M|
| 48|  F|
| 39|  M|
| 42|  F|
| 54|  F|
| 38|  M|
| 43|  F|
| 60|  M|
| 36|  M|
| 43|  F|
| 44|  M|
| 52|  M|
| 53|  F|
| 41|  F|
| 48|  F|
| 43|  M|
| 37|  M|
| 36|  M|
| 41|  M|
+---+---+
only showing top 20 rows

In [79]:
df_pyspark.filter(df_pyspark["RestingBP"]<=120).show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
| 43|  F|           TA|      100|        223|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 44|  M|          ATA|      120|        184|        0|    Normal|  142|             N|    1.0|    Flat|           0|
| 52|  M|          ATA|      120|        284|        0|    Normal|  118|             N|    0.0|      Up|           0|
| 53|  F|          ATA|      113|        468|        0|    Normal|  127|             N|    0.0|      Up|           0|
| 41|  F|          ATA|      110|        250|        0|        ST|  142|             N|    0.0|      Up|           0|
| 48|  F|          ATA|      120|        177|        1|        ST|  148|             N|    0.0|      Up|           0|
| 43|  M|          ASY|      120|        175|        0|    Normal|  120|             Y|    1.0|    Flat|           1|
| 37|  M|          ASY|      120|        223|        0|    Normal|  168|             N|    0.0|      Up|           0|
| 36|  M|          NAP|      112|        340|        0|    Normal|  184|             N|    1.0|    Flat|           0|
| 41|  M|          ASY|      110|        289|        0|    Normal|  170|             N|    0.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [80]:
df_pyspark.filter((df_pyspark["RestingBP"]<=120) & (df_pyspark["RestingBP"] >= 110)).show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
| 44|  M|          ATA|      120|        184|        0|    Normal|  142|             N|    1.0|    Flat|           0|
| 52|  M|          ATA|      120|        284|        0|    Normal|  118|             N|    0.0|      Up|           0|
| 53|  F|          ATA|      113|        468|        0|    Normal|  127|             N|    0.0|      Up|           0|
| 41|  F|          ATA|      110|        250|        0|        ST|  142|             N|    0.0|      Up|           0|
| 48|  F|          ATA|      120|        177|        1|        ST|  148|             N|    0.0|      Up|           0|
| 43|  M|          ASY|      120|        175|        0|    Normal|  120|             Y|    1.0|    Flat|           1|
| 37|  M|          ASY|      120|        223|        0|    Normal|  168|             N|    0.0|      Up|           0|
| 36|  M|          NAP|      112|        340|        0|    Normal|  184|             N|    1.0|    Flat|           0|
| 41|  M|          ASY|      110|        289|        0|    Normal|  170|             N|    0.0|    Flat|           1|
| 47|  F|          ASY|      120|        205|        0|    Normal|   98|             Y|    2.0|    Flat|           1|
| 31|  M|          ASY|      120|        270|        0|    Normal|  153|             Y|    1.5|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [82]:
df_pyspark.filter(~(df_pyspark["RestingBP"]<=120)).show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 49|  F|          ATA|      124|        201|        0|    Normal|  164|             N|    0.0|      Up|           0|
| 44|  M|          ATA|      150|        288|        0|    Normal|  150|             Y|    3.0|    Flat|           1|
| 40|  M|          NAP|      130|        215|        0|    Normal|  138|             N|    0.0|      Up|           0|
| 36|  M|          NAP|      130|        209|        0|    Normal|  178|             N|    0.0|      Up|           0|
| 53|  M|          ASY|      124|        260|        0|        ST|  112|             Y|    3.0|    Flat|           0|
| 51|  M|          ATA|      125|        188|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 53|  M|          NAP|      145|        518|        0|    Normal|  130|             N|    0.0|    Flat|           1|
| 56|  M|          NAP|      130|        167|        0|    Normal|  114|             N|    0.0|      Up|           0|
| 54|  M|          ASY|      125|        224|        0|    Normal|  122|             N|    2.0|    Flat|           1|
| 41|  M|          ASY|      130|        172|        0|        ST|  130|             N|    2.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [83]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Agg").getOrCreate()

In [84]:
spark

In [85]:
df_pyspark=spark.read.csv("D:/datasets_CSV/heart.csv", header=True, inferSchema=True)
df_pyspark.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [86]:
df_pyspark.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- ChestPainType: string (nullable = true)
 |-- RestingBP: integer (nullable = true)
 |-- Cholesterol: integer (nullable = true)
 |-- FastingBS: integer (nullable = true)
 |-- RestingECG: string (nullable = true)
 |-- MaxHR: integer (nullable = true)
 |-- ExerciseAngina: string (nullable = true)
 |-- Oldpeak: double (nullable = true)
 |-- ST_Slope: string (nullable = true)
 |-- HeartDisease: integer (nullable = true)

In [88]:
df_pyspark.groupby("Sex").sum().show()

+---+--------+--------------+----------------+--------------+----------+------------------+-----------------+
|Sex|sum(Age)|sum(RestingBP)|sum(Cholesterol)|sum(FastingBS)|sum(MaxHR)|      sum(Oldpeak)|sum(HeartDisease)|
+---+--------+--------------+----------------+--------------+----------+------------------+-----------------+
|  F|   10131|         25517|           46551|            26|     28205|129.10000000000002|               50|
|  M|   38992|         96023|          135947|           188|     97386| 685.5000000000001|              458|
+---+--------+--------------+----------------+--------------+----------+------------------+-----------------+

In [91]:
df_pyspark.groupBy("Sex").sum().show()

+---+--------+--------------+----------------+--------------+----------+------------------+-----------------+
|Sex|sum(Age)|sum(RestingBP)|sum(Cholesterol)|sum(FastingBS)|sum(MaxHR)|      sum(Oldpeak)|sum(HeartDisease)|
+---+--------+--------------+----------------+--------------+----------+------------------+-----------------+
|  F|   10131|         25517|           46551|            26|     28205|129.10000000000002|               50|
|  M|   38992|         96023|          135947|           188|     97386| 685.5000000000001|              458|
+---+--------+--------------+----------------+--------------+----------+------------------+-----------------+

In [92]:
df_pyspark.groupBy("Sex").mean().show()

+---+-----------------+------------------+------------------+-------------------+------------------+------------------+-------------------+
|Sex|         avg(Age)|    avg(RestingBP)|  avg(Cholesterol)|     avg(FastingBS)|        avg(MaxHR)|      avg(Oldpeak)|  avg(HeartDisease)|
+---+-----------------+------------------+------------------+-------------------+------------------+------------------+-------------------+
|  F|52.49222797927461|132.21243523316062|241.19689119170985|0.13471502590673576|146.13989637305698|0.6689119170984457|0.25906735751295334|
|  M|53.78206896551724|132.44551724137932|187.51310344827587| 0.2593103448275862|134.32551724137932|0.9455172413793105| 0.6317241379310344|
+---+-----------------+------------------+------------------+-------------------+------------------+------------------+-------------------+

In [93]:
df_pyspark.groupby("Sex").count().show()

+---+-----+
|Sex|count|
+---+-----+
|  F|  193|
|  M|  725|
+---+-----+

In [94]:
df_pyspark.agg({"RestingBP":'sum'}).show()

+--------------+
|sum(RestingBP)|
+--------------+
|        121540|
+--------------+

In [95]:
df_pyspark.groupby("Sex").max().show()

+---+--------+--------------+----------------+--------------+----------+------------+-----------------+
|Sex|max(Age)|max(RestingBP)|max(Cholesterol)|max(FastingBS)|max(MaxHR)|max(Oldpeak)|max(HeartDisease)|
+---+--------+--------------+----------------+--------------+----------+------------+-----------------+
|  F|      76|           200|             564|             1|       192|         6.2|                1|
|  M|      77|           200|             603|             1|       202|         5.6|                1|
+---+--------+--------------+----------------+--------------+----------+------------+-----------------+

In [96]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Missing").getOrCreate()

In [98]:
training = spark.read.csv("D:/datasets_CSV/homeclassification.csv", header=True, inferSchema=True)

In [99]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [100]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [101]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age", "Experience"], outputCol="Independent Features")

In [102]:
output = featureassembler.transform(training)

In [103]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [104]:
finalized_data=output.select("Independent Features", "Salary")

In [105]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [108]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol="Independent Features", labelCol="Salary")
regressor = regressor.fit(train_data)

In [109]:
regressor.coefficients

DenseVector([-258.8832, 1670.0508])

In [110]:
regressor.intercept

20543.147208121274

In [111]:
pred_results=regressor.evaluate(test_data)

In [112]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [21.0,1.0]| 15000|16776.649746192812|
|          [24.0,3.0]| 20000|19340.101522842593|
+--------------------+------+------------------+

In [113]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(1218.2741116751095, 1795975.1604008244)

# Linear Regression

In [114]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Linear Regression").getOrCreate()

In [115]:
df = spark.read.csv("D:/datasets_CSV/tips.csv", header=True, inferSchema=True)

In [116]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [117]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [118]:
df.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [119]:
#= handling categorical feature
from pyspark.ml.feature import StringIndexer

In [121]:
indexer = StringIndexer(inputCol="sex", outputCol="sex_indexed")
df_r = indexer.fit(df).transform(df)
df_r.show()

+----------+----+------+------+---+------+----+-----------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|
+----------+----+------+------+---+------+----+-----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|
+----------+----+------+------+---+------+----+-----------+
only showing top 20 rows

In [122]:
indexer = StringIndexer(inputCols=["smoker", "day", "time"], 
                        outputCols=["smoker_indexed", "day_indexed", "time_indexed"])
df_r = indexer.fit(df_r).transform(df_r)
df_r.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [123]:
df_r.columns

['total_bill',
 'tip',
 'sex',
 'smoker',
 'day',
 'time',
 'size',
 'sex_indexed',
 'smoker_indexed',
 'day_indexed',
 'time_indexed']

In [125]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['tip', "size", "sex_indexed", "smoker_indexed", "day_indexed", "time_indexed"],
              outputCol="Independent Features")
output=featureassembler.transform(df_r)
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|Independent Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
only showing top 20 rows

In [127]:
output.select('Independent Features').show()

+--------------------+
|Independent Features|
+--------------------+
|[1.01,2.0,1.0,0.0...|
|[1.66,3.0,0.0,0.0...|
|[3.5,3.0,0.0,0.0,...|
|[3.31,2.0,0.0,0.0...|
|[3.61,4.0,1.0,0.0...|
|[4.71,4.0,0.0,0.0...|
|[2.0,2.0,0.0,0.0,...|
|[3.12,4.0,0.0,0.0...|
|[1.96,2.0,0.0,0.0...|
|[3.23,2.0,0.0,0.0...|
|[1.71,2.0,0.0,0.0...|
|[5.0,4.0,1.0,0.0,...|
|[1.57,2.0,0.0,0.0...|
|[3.0,4.0,0.0,0.0,...|
|[3.02,2.0,1.0,0.0...|
|[3.92,2.0,0.0,0.0...|
|[1.67,3.0,1.0,0.0...|
|[3.71,3.0,0.0,0.0...|
|[3.5,3.0,1.0,0.0,...|
|(6,[0,1],[3.35,3.0])|
+--------------------+
only showing top 20 rows

In [128]:
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|Independent Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
only showing top 20 rows

In [129]:
finalized_data = output.select("Independent Features", "total_bill")

In [130]:
finalized_data.show()

+--------------------+----------+
|Independent Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [131]:
from pyspark.ml.regression import LinearRegression
train_data, test_data=finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol="Independent Features", labelCol="total_bill")
regressor=regressor.fit(train_data)

In [132]:
regressor.coefficients

DenseVector([3.2593, 3.4585, -0.7792, 2.8131, 0.4458, -2.2458])

In [133]:
regressor.intercept

0.3098567733763832

In [134]:
pred_results = regressor.evaluate(test_data)

In [136]:
pred_results.predictions.show()

+--------------------+----------+------------------+
|Independent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.75,2.0])|     17.82|12.930587667427586|
|(6,[0,1],[2.34,4.0])|     17.81| 21.77056304222607|
|(6,[0,1],[2.64,3.0])|     17.59|19.289842194443523|
|(6,[0,1],[3.35,3.0])|     20.65| 21.60392531398613|
|(6,[0,1],[6.73,4.0])|     48.27|36.078767119397995|
|[1.0,2.0,1.0,1.0,...|      5.75|13.857477154151894|
|[1.01,2.0,1.0,0.0...|     16.99|10.185343483782187|
|[1.17,2.0,0.0,1.0...|     32.83|13.853307171679484|
|[1.44,2.0,0.0,1.0...|      7.74|14.733310611505548|
|[1.5,2.0,0.0,1.0,...|     12.03|16.266310621194407|
|[1.5,2.0,1.0,0.0,...|     26.41|11.336572200224023|
|[1.5,2.0,1.0,0.0,...|     10.65| 9.982448104338959|
|[1.5,2.0,1.0,0.0,...|     11.17| 9.982448104338959|
|[1.58,2.0,0.0,1.0...|     13.42|  14.2812991587728|
|[1.63,2.0,1.0,0.0...|     11.87| 10.40615346425521|
|[1.68,2.0,1.0,0.0...|     13.42|10.569117064222999|
|[1.71,2.0,0.0,0.0...|     10.27|13.246031350695857|
|[1.8,2.0,1.0,0.0,...|     12.43|10.960229704145695|
|[2.0,2.0,0.0,0.0,...|      7.51| 12.39128157138147|
|[2.0,2.0,0.0,0.0,...|     13.03| 12.39128157138147|
+--------------------+----------+------------------+
only showing top 20 rows

In [138]:
pred_results.r2, pred_results.meanAbsoluteError, pred_results.meanSquaredError

(0.3517895942480298, 4.668326541075728, 41.044565404078696)

# Spark User Guide

In [1]:
from pyspark import SparkContext, SparkConf

In [6]:
conf = SparkConf().setAppName("Spark app").setMaster("local")
conf.get("spark.master")

'local'

In [7]:
conf.get("spark.app.name")

'Spark app'

In [1]:
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import Correlation
spark = SparkSession.builder.appName("machine learning").getOrCreate()

In [5]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import HashingTF, Tokenizer

In [6]:
training = spark.createDataFrame([
    (0, "a b c d e spark", 1.0),
    (1, "b d", 0.0),
    (2, "spark f g h", 1.0),
    (3, "hadoop mapreduce", 0.0)
], ["id", "text", "label"])

In [20]:
from pyspark.ml.feature import HashingTF, IDF, Tokenizer
sentenceData = spark.createDataFrame([
    (0.0, "Hi I heard about Spark"),
    (0.0, "I wish Java could use case classes"),
    (1.0, "Logistic regression models are neat")
], ["label", "sentence"])
tokenizer = Tokenizer(inputCol="sentence", outputCol="words")
wordsData = tokenizer.transform(sentenceData)
wordsData

DataFrame[label: double, sentence: string, words: array<string>]

In [21]:
hashingTF = HashingTF(inputCol="words", outputCol="rawFeatures", numFeatures=20)
featurizedData = hashingTF.transform(wordsData)

In [24]:
from pyspark.ml.feature import Word2Vec

In [26]:
from pyspark.ml.feature import PolynomialExpansion
from pyspark.ml.linalg import Vectors

In [27]:
df = spark.createDataFrame([
    (Vectors.dense([2.0, 1.0]), ),
    (Vectors.dense([0.0, 0.0]), ),
    (Vectors.dense([3.0, -1.0]), )
], ["features"])

In [33]:
polyExpansion = PolynomialExpansion(degree=3, inputCol="features", outputCol="polyFeatures")
polyDF = polyExpansion.transform(df)

polyDF

DataFrame[features: vector, polyFeatures: vector]

In [34]:
from pyspark.ml.feature import StringIndexer